spring:
  data:
    redis:
      host: allowed-louse-21787.upstash.io
      port: 6379
      password: ${REDIS_PASS}
      ssl:
        enabled: true
  application:
    name: comments-api
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update

logging:
  level:
    org.springframework.data.redis: DEBUG
